*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    background: black;
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 30px 0px;
}

.wrapper .sidebar h2{
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .sidebar ul li{
    padding: 5px;
}

.wrapper .sidebar ul li a{
    font-size: 13px;
    color: aliceblue;
}

.wrapper .sidebar ul li a:hover{
    color: rgb(40, 145, 166);
    text-decoration: none;
}

.wrapper .sidebar ul li:hover{
    background-color: gray;
}

.header{
    margin-left: 200px;
    width: 100%;
}

.header .admin_header{
    background: black;
    padding: 15px;
    width: 100%;
    height: 70px;
}

.header .admin_header a{
    float: right;
    background-color: skyblue;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.info{
    margin: 120px;
    padding: 10px;
    margin-top: 5%;
}

.my_form{
    margin-left: 30%;
}

label{
    display: inline-block;
    width: 150px;
    font-size: 15px;
}

.div_deg{
    padding: 10px;
    padding-top: 5px;
}

input[type='text'],
input[type='time'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number']{
    width: 40%;
    padding: 8px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type='submit']{
    width: 62%;
}


